body {
    font-family: 'Indie Flower', serif;
    max-width: 1600px;
    font-size: 1.5rem;
    margin: 0 auto;
    background-color: #f5f5f5;
    color: #FFFFFF;
    text-shadow: 1px 1px 0 #484848;
}

img {
    margin-top: 1.75rem;
}

.promo img {
    margin-top: -3.5rem;
    box-shadow: rgb(0 0 0 / 74%) 0px 3px 8px
}

.container {
    background-color: #C3B091;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "header"
                         "nav"
                         "main"
                         "article"
                         "footer";
    min-height: 100vh;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.5);
}

header {
    grid-area: header;
    text-align: center;
}

nav {
    grid-area: nav;
    background-color: #26877F;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

nav ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding-inline: unset;
    list-style: none;
}

nav li {
    text-align: center;
    font-weight: bold;
}

nav a {
    display: grid;
    padding: .75rem;
    text-decoration: none;
    color: #FFFFFF;
}

nav a:hover,
nav a:focus {
    transform: scale(1.2);
}

.promo {
    position: relative;
}

.promo a {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
    text-decoration: none;
    opacity: 1;
    z-index: 1;
}

.promo a span {
    color: #FFFFFF;
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
}

.promo a:target {
    animation: none;
    opacity: 0;
}


.promo h1 {
    font-size: 4rem;
    color: #26877F;
    text-align: center;
}

.promo img {
    width: 100%;
    max-width: 1600px;
}

.promo p {
    font-size: 1.5rem;
    color: #26877F;
    padding: 20px;
    line-height: 1.6;
    max-width: 80%;
    margin: 0 auto;
}



.articles-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    padding: 20px 0;
}

.article-item {
    text-align: center;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.article-item h2 {
    margin: 0 0 10px;
    font-size: 2.0rem;
    font-weight: bold;
}

.article-item p {
    margin: 0;
    font-size: 1.5rem;
    font-weight: bold;
}

#green-article {
    color: #26877F;
}

#red-article {
    color: #B53434;
}

#white-article {
    color: #EDE7F1;
}

footer {
    display: grid;
    grid-area: footer;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
    background-color: #26877F;
    height: 70px;
    color: #FFFFFF;
    font-size: 1.5rem;
}

footer img {
    margin-left: 5rem;
    margin-bottom: .5rem;
    margin-top: .5rem;
}

@media screen and (max-width: 767px) {
    .container {
        grid-template-areas: "header"
                             "main"
                             "article"
                             "footer"
                             "nav";
    }

    .promo img {
        margin-top: .25rem;
    }

    nav {
        display: grid;
        position: fixed;
        bottom: 0;
        z-index: 100;
        width: 100%;
    }

    nav ul {
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 0;
        margin: 0;
    }

    nav a {
        font-size: 1.2rem;
    }

    .promo h1 {
        font-size: 2rem;
    }

    .promo a span {
        color: #FFFFFF;
        font-size: 1.2rem;
        font-weight: bold;
        text-align: center;
    }

    .articles-container {
        grid-template-columns: 1fr;
        padding-top: 0;
    }

    footer {
        padding-bottom: 55px;
        font-size: 1.1rem;
    }
}