body {
    font-family: 'Indie Flower', serif;
    max-width: 1600px;
    font-size: 1.5rem;
    margin: 0 auto;
    background-color: #B8C1B1;
    color: #FFFFFF;
    text-shadow: 1px 1px 0 #484848;
}

img {
    margin-top: 1.75rem;
}

.container {
    background-color: #C3B091;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "header"
                         "nav"
                         "main"
                         "footer";
    min-height: 100vh;
    padding-bottom: 2rem;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.5);
}

header {
    grid-area: header;
    text-align: center;
}

nav {
    grid-area: nav;
    background-color: #26877F;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

nav ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding-inline: unset;
    list-style: none;
}

nav li {
    text-align: center;
    font-weight: bold;
}

nav a {
    display: grid;
    padding: .75rem;
    text-decoration: none;
    color: #FFFFFF;
}

nav a:hover,
nav a:focus {
    transform: scale(1.2);
}

main {
    text-align: center;
    margin-top: -2rem;
}

h1 {
    color: #26877F;
    margin-bottom: .5rem;
}

h2 {
    margin-bottom: -.5em;
}

.shrubs-section {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
}

.image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.image-container p {
    margin: 0.5rem 0;
    font-size: 2rem;
    font-weight: bold;
}

.image-container img {
    box-shadow: rgb(0 0 0 / 74%) 0px 3px 8px;
}

.green-shrubs {
    color: #26877F;
}

.red-shrubs {
    color: #B53434;
}

footer {
    display: grid;
    grid-area: footer;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
    background-color: #26877F;
    height: 70px;
    color: #FFFFFF;
    font-size: 1.5rem;
}

footer img {
    margin-left: 5rem;
    margin-bottom: .5rem;
    margin-top: .5rem;
}

@media screen and (max-width: 950px) {
    .container {
        grid-template-areas: "header"
                             "main"
                             "section"
                             "footer"
                             "nav";
    }

    nav {
        display: grid;
        position: fixed;
        bottom: 0;
        z-index: 100;
        width: 100%;
    }

    nav ul {
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 0;
        margin: 0;
    }

    nav a {
        font-size: 1.2rem;
    }

    main {
        margin-top: 2rem;
    }

    .shrubs-section {
        display: grid;
        grid-template-columns: 1fr;

    }

    footer {
        padding-bottom: 55px;
        font-size: 1.1rem;
    }
}