body {
    font-family: Baskerville, Verdana, sans-serif;
    max-width: 1600px;
    margin: 0 auto;
    background-color: #f5f5f5;
}

img {
    padding-top: 20px;
}

.container {
    margin-top: -10px;
    background-color: #C3B091;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "header"
                         "nav"
                         "main"
                         "article article article"
                         "footer";
    min-height: 100vh;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

header {
    grid-area: header;
    text-align: center;
}

nav {
    grid-area: nav;
    background-color: #26877F;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

nav ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    text-align: center;
    font-weight: bold;
}

nav a {
    display: grid;
    align-items: center;
    justify-items: center;
    padding: 10px;
    text-decoration: none;
    color: #FFFFFF;
    position: relative;
}

nav a::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #FFFFFF;
    opacity: 0;
    transform: translateY(5px);
    transition: opacity 0.3s, transform 0.3s;
}

nav a:hover::before {
    opacity: 1;
    transform: translateY(0);
}

.main {
    grid-area: main;
    display: grid;
    justify-items: center;
    padding: 20px 0;
}

.promo img {
    width: 100%;
    max-width: 1600px;
    height: auto;
}

.articles {
    grid-area: section;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    padding: 20px 0;
}

footer {
    display: grid;
    grid-area: footer;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
    background-color: #26877F;
    height: 70px;
    color: #EDE7F1;
}

footer img {
    margin-left: 100px;
    margin-bottom: 5px;
    margin-top: -15px;
}

@media screen and (max-width: 767px) {
    .container {
        grid-template-areas: "header"
                             "main"
                             "section"
                             "footer"
                             "nav";
    }

    nav {
        position: fixed;
        bottom: 0;
        width: 100%;
        z-index: 100;
    }

    nav ul {
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 0;
    }

    footer {
        padding-bottom: 70px; /* Adjust the value according to the height of your navbar */
    }
}