body {
    font-family: 'Indie Flower', serif;
    max-width: 1600px;
    font-size: 2.5rem;
    margin: 0 auto;
    background-color: #f5f5f5;
    color: #FFFFFF;
}

img {
    padding-top: 20px;
}

.container {
    margin-top: -10px;
    background-color: #C3B091;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "header"
                         "nav"
                         "main"
                         "article"
                         "footer";
    min-height: 100vh;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

header {
    grid-area: header;
    text-align: center;
}

nav {
    grid-area: nav;
    background-color: #26877F;
}

nav ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding-inline: unset;
    list-style: none;
}

nav li {
    text-align: center;
    font-weight: bold;
}

nav a {
    display: grid;
    padding: 10px;
    text-decoration: none;
    color: #FFFFFF;
}

.promo h1 {
    font-size: 4rem;
    color: #26877F;
    text-align: center;
}

.promo img {
    width: 100%;
    max-width: 1600px;
    height: auto;
}

.promo p {
    font-size: 1.5rem;
    color: #26877F;
    padding: 20px;
    line-height: 1.6;
    max-width: 80%;
    margin: 0 auto;
}

.articles-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    padding: 20px 0;
}

.article-item {
    text-align: center;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.article-item h2 {
    margin: 0 0 10px;
    font-size: 2.5rem;
    font-weight: bold;
}

.article-item p {
    margin: 0;
    font-size: 1.5rem;
    font-weight: bold;
}

#green-article {
    color: #26877F;
}

#red-article {
    color: #B53434;
}

#white-article {
    color: #EDE7F1;
}

footer {
    display: grid;
    grid-area: footer;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
    background-color: #26877F;
    height: 70px;
    color: #FFFFFF;
}

footer img {
    margin-left: 100px;
    margin-bottom: 5px;
    margin-top: -15px;
}

@media screen and (max-width: 767px) {
    .container {
        grid-template-areas: "header"
                             "main"
                             "article"
                             "footer"
                             "nav";
    }

    nav {
        position: fixed;
        bottom: 0;
        width: 100%;
        z-index: 100;
    }

    nav ul {
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 0;
    }

    .articles-container {
        grid-template-columns: 1fr;
    }

    footer {
        padding-bottom: 70px;
    }
}